<script>
try {
    const jwt = localStorage.getItem('jwt');
    console.log("jwt: ", jwt)
    if (!jwt) {
        window.location.href = '/login';
    }
    else{

        // Fetch dashboard content using Fetch API
        const response = fetch('{{redirect}}', {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${jwt}`
            }
        });

        response.then((res) => {
            if (res.ok) {
                const dashboardHtml = res.text();
                dashboardHtml.then((html) => {
                    document.documentElement.innerHTML = html;
                });
            } else {
                window.location.href = '/login';
            }
        })

    }
    
} catch (error) {
    console.error('An error occurred:', error);
}

</script>
